/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Estilos*/
@import url('Styles/header.css');
@import url('Styles/footer.css');
@import url('Styles/main.css');
@import url('Styles/categoria.css');
@import url('Styles/carrinho.css');
@import url('Styles/confirmar.css');

/*Variáveis*/
:root{
    --fontTitulos: "Parkinsans", sans-serif;
    --fontPadrao: "Rubik", sans-serif;
    --cor1: #4e0c57;
    --cor2: #ffffff;
    --cor3: #808080;
    --cor4: #000000;
    --cor5: rgba(0, 0, 0, 0.2)
}

/*Regras*/
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulos);
    margin: 0;
}
body{
    margin: 0;
}
button{
    font-family: var(--fontTitulos);
    font-size: 1rem;
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 5px;
}
a, p, label{
    font-family: var(--fontPadrao);
    font-size: 0.7rem;
}
a{
    text-decoration: none;
}
span{
    font-size: 1.2rem;
    font-family: var(--fontPadrao);
    color: var(--cor1);
    font-weight: 600;
}
select{
    font-size: 1rem;
    width: 16em;
    max-width: 90%;
    margin: 1em 1em 1em 0;
    border: 1px solid var(--cor1);
    padding: 0.5em;
    border-radius: 10px;
    font-family: var(--fontTitulos);
    color: var(--cor1);
    font-weight: 700;
    text-align: center;
}
input{
    border: 1px solid var(--cor3);
    color: var(--cor1);
    padding: 0.5em;
    border-radius: 5px;
    width: 100%;
    margin: 1em 0;
}
input::placeholder{
    color: var(--cor3);
}

nav{
    width: 100%;
    display: flex;
    gap: 1em;
    position: fixed;
    background-color: var(--cor2);
    align-items: center;
    padding: 0.5em 2em;
    box-shadow: 0px 0px 10px var(--cor3);
    color: var(--cor1);
    z-index: 3;
}

/*Elementos padrão*/
.carrossel{
    width: 100%;
    overflow-x: auto;
    padding: 1em 0;
    height: auto;
}
    /*Atalhos para carrossel*/
    .carrosselFilho{
        display: flex;
        gap: 1em;
        padding-left: 1em;
        height: auto;
    }
    .carrosselItem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .carrosselItem h3{
        padding-right: 1em;
    }

.modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cor2);
    display: none;
    overflow-y: auto;
}
.voltar{
    width: 10em;
    border: none;
    border-radius: 0 5px 5px 0;
    z-index: 2;
    position: fixed;
    top: 4em;
    left: 0;
    padding: 0.7em;
    background-image: url("../Assets/icons/voltar.png");
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 10px var(--cor3);
}
.pedir{
    padding: 0.5em;
    font-size: 1rem;
    width: 10em;
}
    /*Checkbox que abre o campo dinâmico*/
    .abrirCampo{
        display: none;
    }
    .labelDinamico{
        background-color: var(--cor1);
        padding: 0.5em 4em;
        width: 16em;
        border-radius: 5px;
        color: var(--cor2);
        font-size: 1rem;
        display: block;
        background-image: url(Assets/icons/setaDireita.png);
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: 90%;
        margin: 0 auto;
    }
    .abrirCampo:checked ~.labelDinamico{
        background-image: url(Assets/icons/setaBaixo.png);
    }
    .campoDinamico{
        display: none;
    }
    .abrirCampo:checked ~ .campoDinamico{
        display: block;
    }
