/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Estilos*/
@import url('Styles/header.css');
@import url('Styles/nav.css');
@import url('Styles/footer.css');
@import url('Styles/cardapio.css');
@import url('Styles/main.css');
@import url('Styles/combos.css');

/*Variáveis*/
:root{
    --fontTitulos: "Parkinsans", sans-serif;
    --fontPadrao: "Rubik", sans-serif;
    --cor1: #4e0c57;
    --cor2: #ffffff;
    --cor3: #808080;
}

/*Regras*/
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulos);
    margin: 0;
}
body{
    margin: 0;
}
a, p{
    font-family: var(--fontPadrao);
    font-size: 0.8rem;
}
a{
    text-decoration: none;
}

/*Elementos padrão*/
.carrossel{
    width: 100%;
    overflow: auto;
}