/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Estilos*/
@import url('Styles/header.css');
@import url('Styles/footer.css');
@import url('Styles/cardapio.css');
@import url('Styles/main.css');
@import url('Styles/modal.css');
@import url('Styles/categoria.css');
@import url('Styles/produtos.css');
@import url('Styles/carrinho.css');
@import url('Styles/confirmarPedido.css');

/*Variáveis*/
:root{
    --fontTitulos: "Parkinsans", sans-serif;
    --fontPadrao: "Rubik", sans-serif;
    --cor1: #4e0c57;
    --cor2: #ffffff;
    --cor3: #808080;
    --cor4: #000000;
}

/*Regras*/
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulos);
    margin: 0;
}
body{
    margin: 0;
}
button{
    font-family: var(--fontTitulos);
    font-size: 1rem;
    background-color: var(--cor1);
    color: var(--cor2);
}
a, p, label{
    font-family: var(--fontPadrao);
    font-size: 0.7rem;
}
a{
    text-decoration: none;
}
span{
    font-size: 1.2rem;
    font-family: var(--fontPadrao);
    color: var(--cor1);
    font-weight: 600;
}
select{
    font-size: 1rem;
    width: 10em;
    margin: 1em 1em 1em 0;
    border: 1px solid var(--cor1);
    padding: 0.5em;
    border-radius: 10px;
    font-family: var(--fontTitulos);
    color: var(--cor1);
    font-weight: 700;
    text-align: center;
}

/*Elementos padrão*/
.carrossel{
    width: 100%;
    overflow-x: auto;
    padding: 1em 0;
}
    /*Atalhos para carrossel*/
    .carrosselFilho{
        display: flex;
        gap: 1em;
        padding-left: 1em;
    }
    .carrosselItem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .carrosselItem h3{
        padding-right: 1em;
    }

.pedir{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1rem;
    width: 75%;
}
