.carrinho{
    z-index: 3;
}
.carrinho input{
    border: 1px solid var(--cor1);
    border-radius: 5px;
    padding: 0.5em;
}
.carrinho select{
    width: 100%;
}


/*Formulário final*/
.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5em;
}
.endereco{
    width: 100%;
    margin: 0.5em 0;
}
.camposEndereco{
    display: none;
}
#endereco:checked ~ #camposEndereco{
    display: block;
}

/*Pedidos*/
.pedido{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    width: 100%;
    align-items: center;
}
.produtoCarrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--cor1);
    padding: 1em 0;
}
.produtoCarrinho h3{
    color: var(--cor1);
}

.pedido a{
    background-color: var(--cor1);
    color: var(--cor2);
    width: 20em;
    padding: 1em 2em;
    border: 0;
    border-radius: 5px;
    background-image: url('../Assets/icons/whatappRoxo.png');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 3em;
}

.produtoCarrinho button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    padding: 0.5em 3em;
    border-radius: 5px;
    background-image: url('../Assets/icons/lixo.png');
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: 1em;
}
.produtoCarrinho span{
    margin: 1em 0;
}


#troco{
    display: none;
}