.carrinho{
    z-index: 3;
}
.carrinho input{
    border: 1px solid var(--cor1);
    border-radius: 5px;
    padding: 0.5em;
}
.carrinho select{
    width: 100%;
}

/*Demonstração de produtos adicionados ao carrinho*/
.itemFinal{
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    gap: 0.5em;
    border-bottom: 1px solid var(--cor1);
}
.itemFinal h2, .itemFinal p{
    margin: 0;
    padding: 0;
}
.adicionais{
    color: var(--cor1);
    font-weight: 600;
}
.itemFinal button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5em;
}

