.carrinho{
    z-index: 3;
}
.carrinho input{
    border: 1px solid var(--cor1);
    border-radius: 5px;
    padding: 0.5em;
}
.carrinho select{
    width: 100%;
}

/*Demonstração de produtos adicionados ao carrinho*/
.itemFinal{
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    gap: 0.5em;
    justify-content: center;
    border-bottom: 1px solid var(--cor1);
}
.itemFinal h2, .itemFinal p, .itemFinal span{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
.itemFinal span{
    font-weight: 400;
}
.itemFinal p{
    font-weight: 500;
}
.adicionais{
    color: var(--cor1);
    font-weight: 600;
    line-height: 1.5em;
}
.itemFinal button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em 0;
}

/*Formulário final*/
.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5em;
}
.endereco{
    width: 100%;
    margin: 0.5em 0;
}
.camposEndereco{
    display: none;
}
#endereco:checked ~ #camposEndereco{
    display: block;
}

/*Lista final*/
.listaFinal{
    padding: 1em;
    border-bottom: 1px solid var(--cor1);
}
.listaFinal h3{
    color: var(--cor1);
}

#troco{
    display: none;
}