/*Categorias dos itens*/
.categoria{
    z-index: 1;
}
.categoria img{
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--cor3);
}
.categoria .carrosselItem{
    gap: 0.5em;
}
.imagemEntrada{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 10em;
}

/*Imagens de entrada*/
.acais{
    background-image: url(../Assets/Imagens/acai.jpg);
}
.sorvetes{
    background-image: url(../Assets/Imagens/sorvetes.jpg);
}
.refrescos{
    background-image: url(../Assets/Imagens/bebidas.jpg);
}
.lanches{
    background-image: url(../Assets/Imagens/lanche.jpg);
}
.pizzas{
    background-image: url(../Assets/Imagens/pizzas.jpg);
}
.especiais{
    background-image: url(../Assets/Imagens/especiais.png);
}

/*Itens dentro do carrossel*/

    /*Combos*/
    .combos{
        width: 200%;
    }
    .combo{
        width: 25%;
    }
    .combo img{
        width: 10em;
    }

    /*Porções*/
    .porcoes{
        width: 300%;
    }
    .porcao{
        width: 20%;
    }

    /*Taças*/
    .tacas{
        width: 450%;
    }
    .taca{
        width: 14%;
    }

    /*Bebidas*/
    .bebida{
        width: 16%;
    }
    .bebidas{
        width: 400%;
    }

/*Produto único*/
.produtoEspecial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
}
.produtoEspecial img{
    width: 90%;
}
.produtoEspecial p{
    margin: 0;
}
.especialInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0;
}

/*Mesmo produto com variações*/
.produtoVariado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produtoVariado h3{
    width: 100%;
    padding: 0.5em 0;
}
.produtoVariado ul{
    list-style: none;
    padding: 1em 0;
}
.produtoVariado li{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor1);
    width: 18em;
}
.produtoVariado li button{
    width: 8em;
    padding: 0.5em;
    border-radius: 10px 0 0 0;
    margin-left: auto;
}
.produtoVariado p{
    width: 100%;
}
.produtoVariado img{
    width: 18em;
}
.produtoVariado select{
    width: 50%;
}

/*Produto a ser aberto*/
.imagemProduto{ 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--cor5); 
    background-blend-mode: multiply;
    height: 33vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 2em 0;
    font-size: 2rem;
    font-family: var(--fontTitulos);
    font-weight: 600;
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor4);
}
.produto{
    display: none;
    flex-direction: column;
    align-items: center;
}
.abrirCampo:checked+label+.produto{
    display: flex;
}
.abrirCampo:checked + .imagemProduto span{
    background-image: url(../Assets/icons/setaBaixo.png);
}
.imagemProduto span{
    width: 2em;
    height: 2em;
    background-image: url(../Assets/icons/setaDireita.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 0.2em;
}
.combosImg{
    background-image: url(../Assets/Imagens/acai.jpg);
}
.coposImg{
    background-image: url(../Assets/Imagens/copoAcai.jpg);
}
.barcasImg{
    background-image: url(../Assets/Imagens/barca.jpg);
}
.tigelasImg{
    background-image: url(../Assets/Imagens/tigelaAcai.jpg);
}
.hamburguerImg{
    background-image: url(../Assets/Imagens/xBurguer.png);
}
.frangoImg{
    background-image: url(../Assets/Imagens/xFrango.jpg);
}
.comboLancheImg{
    background-image: url(../Assets/Imagens/lanche.jpg);
}
.fileImg{
    background-image: url(../Assets/Imagens/xfile.jpg);
}
.lomboImg{
    background-image: url(../Assets/Imagens/xLombo.jpg);
}

@media screen and (min-width: 724px){
    
    /*Categorias dos itens*/
    .categoria img{
        width: 20em;
    }
    
    /*Itens dentro do carrossel*/
    .combos{
        width: 125%;
    }
    .porcoes{
        width: 150%;
    }
    .tacas{
        width: 200%;
    }
    .bebidas{
        width: 180%;
    }

    /*Produto único*/
    .produtoEspecial{
        flex-flow: row wrap;
        justify-content: center;
        gap: 3em;
    }
    .especialInfo{
        gap: 2em;
        width: 30%;
    }

    /*Mesmo produto com variações*/
    .produtoVariado ul{
        flex-flow: row wrap;
        justify-content: center;
        gap: 2em;
        padding: 1em;
    }

}
@media screen and (min-width: 1300px){

    /*Itens dentro do carrossel*/
    .combos{
        width: 80%;
        margin: 0 auto;
    }
    .porcoes{
        width: 100%;
    }
    .bebidas{
        width: 100%;
    }
    .tacas{
        width: 100%;
    }

    /*Mesmo produto com variações*/
    .produtoVariado ul{
        width: 100%;
        justify-content: left;
    }
    .produtoVariado li{
        width: 22%;
    }

}