/*Categorias dos itens*/
.categoria{
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
    z-index: 1;
}
.categoria img{
    width: 18em;
    box-shadow: 0px 0px 10px var(--cor3);
}
.categoria .carrosselItem{
    gap: 0.5em;
}
.imagemEntrada{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 10em;
}

/*Imagens de entrada*/
.acais{
    background-image: url(../Assets/Imagens/acai.jpg);
}

/*Itens dentro do carrossel*/
.combos{
    width: 250%;
}
.combo{
    width: 25%;
}
.porcoes{
    width: 300%;
}
.porcao{
    width: 20%;
}
.tacas{
    width: 450%;
}
.taca{
    width: 14%;
}
.bebida{
    width: 16%;
}
.bebidas{
    width: 400%;
}

/*Produto único*/
.produtoEspecial{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
.produtoEspecial img{
    border-radius: 20px;
    max-width: 90%;
}
.produtoEspecial p{
    margin: 0;
}

/*Mesmo produto com variações*/
.produtoVariado{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.produtoVariado h3{
    width: 100%;
    padding: 0.5em 0;
}
.produtoVariado p{
    width: 100%;
}
.produtoVariado ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.produtoVariado li{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cor1);
    width: 18em;
}
.produtoVariado li button{
    width: 8em;
    padding: 0.5em;
    border-radius: 10px 0 0 0;
    margin-left: auto;
}

@media screen and (min-width: 724px){
    
}