/*Categorias dos itens*/
.categoria{
    z-index: 1;
}
.categoria img{
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--cor3);
}
.categoria .carrosselItem{
    gap: 0.5em;
}
.imagemEntrada{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 10em;
}

/*Itens dentro do carrossel*/

    /*Combos*/
    .combos{
        width: 165%;
    }
    .combo{
        width: 25%;
    }
    .combo img, .combo button{
        max-width: 90%;
    }

    /*Porções*/
    .porcoes{
        width: 300%;
    }
    .porcao{
        width: 20%;
    }

    /*Taças*/
    .tacas{
        width: 390%;
    }
    .taca{
        width: 14%;
    }

    /*Bebidas*/
    .bebida{
        width: 25%;
    }
    .bebidas{
        width: 250%;
    }

/*Produto único*/
.produtoEspecial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
}
.produtoEspecial img{
    width: 90%;
}
.produtoEspecial p{
    margin: 0;
}
.especialInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0;
}

/*Mesmo produto com variações*/
.produtoVariado{
    width: 100%;
}
.produtoVariado h3{
    width: 100%;
    padding: 0.5em 0;
}
.produtoVariado ul{
    list-style: none;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produtoVariado li{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor1);
    width: 18em;
}
.produtoVariado li button{
    width: 8em;
    padding: 0.5em;
    border-radius: 10px 0 0 0;
    margin-left: auto;
}
.produtoVariado p{
    width: 100%;
}
.produtoVariado img{
    width: 18em;
}
.produtoVariado select{
    width: 50%;
}

/*Produto a ser aberto*/
.imagemProduto{ 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--cor5); 
    background-blend-mode: multiply;
    height: 33vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 2em 0;
    font-size: 2rem;
    font-family: var(--fontTitulos);
    font-weight: 600;
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor4);
}
.produto{
    display: none;
}
.abrirCampo:checked+label+.produto{
    display: block;
}
.abrirCampo:checked + .imagemProduto span{
    background-image: url(../Assets/icons/setaBaixo.png);
}
.imagemProduto span{
    width: 2em;
    height: 2em;
    background-image: url(../Assets/icons/setaDireita.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 0.2em;
}

    /*Adicionando as imagens dos produtos*/
    .combosImg{
        background-image: url(../Assets/Imagens/acai.jpg);
    }
    .coposImg{
        background-image: url(../Assets/Imagens/copoAcai.jpg);
    }
    .barcasImg{
        background-image: url(../Assets/Imagens/barca.jpg);
    }
    .tigelasImg{
        background-image: url(../Assets/Imagens/tigelaAcai.jpg);
    }
    .hamburguerImg{
        background-image: url(../Assets/Imagens/xBurguer.png);
    }
    .frangoImg{
        background-image: url(../Assets/Imagens/xFrango.jpg);
    }
    .comboLancheImg{
        background-image: url(../Assets/Imagens/lanche.jpg);
    }
    .fileImg{
        background-image: url(../Assets/Imagens/xfile.jpg);
    }
    .lomboImg{
        background-image: url(../Assets/Imagens/xLombo.jpg);
    }
    .salgadasImg{
        background-image: url(../Assets/Imagens/pizzaMedia.jpg);
    }
    .docesImg{
        background-image: url(../Assets/Imagens/pizzaDoce.jpg);
    }
    .litroSorveteImg{
        background-image: url(../Assets/Imagens/sorvete1litro.jpg);
    }
    .bolaSorveteImg{
        background-image: url(../Assets/Imagens/sorveteBola.jpg);
    }
    .tacaSorveteImg{
        background-image: url(../Assets/Imagens/sorvetes.jpg);
    }
    .milkShakeImg{
        background-image: url(../Assets/Imagens/milkShakes.jpg);
    }
    .tapiocaSalgadaImg{
        background-image: url(../Assets/Imagens/tapioca2.jpg);
    }
    .tapiocaDoceImg{
        background-image: url(../Assets/Imagens/tapioca.jpg);
    }
    .omeletesImg{
        background-image: url(../Assets/Imagens/omelete.jpg);
    }
    .porcoesImg{
        background-image: url(../Assets/Imagens/batataEspecial.jpg);
    }
    .polpasImg{
        background-image: url(../Assets/Imagens/polpa.jpg);
    }
    .vitaminaImg{
        background-image: url(../Assets/Imagens/vitaminas.jpg);
    }
    .sucoImg{
        background-image: url(../Assets/Imagens/sucos.jpg);
    }
    .refrigerantesImg{
        background-image: url(../Assets/Imagens/refrigerante.jpg);
    }

@media screen and (min-width: 724px){
    
    /*Categorias dos itens*/
    .categoria img{
        width: 20em;
    }
    
    /*Itens dentro do carrossel*/
    .combos{
        width: 125%;
    }
    .porcoes{
        width: 150%;
    }
    .tacas{
        width: 200%;
    }
    .bebidas{
        width: 180%;
    }

    /*Produto único*/
    .produtoEspecial{
        flex-flow: row wrap;
        justify-content: center;
        gap: 3em;
    }
    .especialInfo{
        gap: 2em;
        width: 30%;
    }

    /*Mesmo produto com variações*/
    .produtoVariado ul{
        flex-flow: row wrap;
        justify-content: center;
        gap: 2em;
        padding: 1em;
    }

}
@media screen and (min-width: 1300px){

    /*Itens dentro do carrossel*/
    .combos{
        width: 80%;
        margin: 0 auto;
    }
    .porcoes{
        width: 100%;
    }
    .bebidas{
        width: 100%;
    }
    .tacas{
        width: 100%;
    }

    /*Mesmo produto com variações*/
    .produtoVariado ul{
        width: 100%;
        justify-content: left;
    }
    .produtoVariado li{
        width: 22%;
    }

}