.combos{
    display: flex;
    width: 220%;
}
.combo{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
    gap: 0.2em;
    align-items: flex-start;
}
.combo img{
    width: 100%;
    border-radius: 10px;
}
.combo h3, .combo span{
    color: var(--cor1);
    font-size: 1rem;
}
.combo span{
    font-family: var(--fontTitulos);
    font-size: 1.2rem;
    font-weight: 500;
}
.combo button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 10px;
    padding: 0.5em;
    width: 75%;
}