.combos{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
}
.combo{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 0.2em;
    text-align: center;
}
.combo img{
    width: 100%;
    border-radius: 20px;
}
.combo h3, .combo span{
    color: var(--cor1);
}
.combo span{
    font-family: var(--fontTitulos);
    font-size: 1.2rem;
    font-weight: 500;
}
.combo button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: 0;
    border-radius: 10px;
    padding: 1em;
    font-size: 1rem
}