.confirmarPedido{
    z-index: 2;
    text-align: center;
    padding: 5em 1em;
    display: flex;
    flex-direction: column;
}
.confirmarPedido img{
    width: 12em;
}
.confirmarPedido button{
    margin: 1em 0;
    padding: 0.5em;
}
.confirmarPedido span{
    font-size: 1.5rem;
}
.adicionais{
    width: 100%;
    text-align: left;
    padding: 0.1em 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.adicionais input{
    width: 10%;
    margin: 0;
}
.adicionais label{
    text-align: left;
    width: 90%;
}
.contagemAdicionais{
    font-size: 1rem;
}
.contagemAdicionais span{
    font-size: 1rem;
}
.campoDinamico{
    margin-top: 1em;
}
.campoDinamico p{
    color: var(--cor1);
    border-bottom: 1px solid var(--cor1);
    padding: 0.5em;
}