.confirmarPedido{
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 5em 1em;
}
.confirmarPedido input{
    border: 2px solid var(--cor1);
    color: var(--cor1);
    padding: 0.5em;
    border-radius: 5px;
    width: 100%;
    margin: 1em 0;
}
.confirmarPedido input::placeholder{
    color: var(--cor1);
}
.confirmarPedido img{
    width: 20em;
}
.confirmarPedido select{
    margin: 0.2em 0;
    width: 20em;
}
.confirmarPedido button{
    border-radius: 10px;
    padding: 0.5em;
    border: 0;
    background-color: var(--cor1);
    color: var(--cor2);
}

#adicionaisInclusos, #adicionais{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}