/*Campo inferior da página*/
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    padding: 2em 0;    
}
footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--cor2);
}
footer a img{
    width: 1.5em;
}
footer h2{
    border: 2px solid var(--cor2);
    border-radius: 10px;
    width: 10em;
    margin: 1em auto;
}
footer h3{
    font-size: 1.2rem;
    margin: 1em 0;
}

/*Carrossel com fotos do ambiente*/
.ambienteFilho{
    width: 200%;
}
.ambienteFilho img{
    width: 40%;
    border-radius: 5px;
}

@media screen and (min-width: 724px){

    /*Carrossel com fotos do ambiente*/
    .ambienteFilho{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 0.5em;
        justify-content: space-around;
    }
    .ambienteFilho img{
        width: 23%;
    }

}

@media screen and (min-width: 1300px){
    /*Carrossel com fotos do ambiente*/
    .ambienteFilho{
        width: 100%;
    }
    .ambienteFilho img{
        width: 20%;
    }
}