header{
    margin-top: 25vw;
    color: var(--cor1);
    text-align: center;
}
header img{
    width: 80%;
}
header p{
    padding: 1em 5em;
    background-size: 5%;
    background-position: 10%;
    background-repeat: no-repeat;
}
.local{
    background-image: url('../Assets/icons/local.png');
}
.funcionamento{
    background-image: url('../Assets/icons/relogio.png');
}