/*Itens dentro do carrossel*/
.combos{
    width: 250%;
}
.combo{
    width: 25%;
}
.porcoes{
    width: 300%;
}
.porcao{
    width: 20%;
}
.tacas{
    width: 450%;
}
.taca{
    width: 14%;
}
.bebida{
    width: 16%;
}
.bebidas{
    width: 400%;
}

/*Produto único*/
.produtoEspecial{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
.produtoEspecial img{
    width: 90%;
    border-radius: 20px;
}
.produtoEspecial p{
    margin: 0;
}

/*Mesmo produto com variações*/
.produtoVariado{
    width: 90%;
}
.produtoVariado h3{
    width: 100%;
    padding: 0.5em 0;
}
.produtoVariado p{
    width: 100%;
}
.produtoVariado ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.produtoVariado li{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cor1);
}
.produtoVariado li button{
    width: 8em;
    padding: 0.5em;
    border: 0;
    border-radius: 10px 0 0 0;
    margin-left: auto;
}

/*Produtos comuns*/
.produtosPadrao{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.produtoPadrao{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 45%;
    align-items: left;
    justify-content: space-between;
}
.produtoPadrao img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/*Adicionais*/
